table { 
  border-collapse: collapse;
}
tbody {
  user-select: none;
}
tbody tr {
  height: min(11vw, 75px);
}
tbody td {
  border: 1px solid black;
  width: min(11vw, 75px);
  text-align: center;
  font-size: min(7vw, 48px);
}
th {
  padding: 4px;
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: white;
}
tbody tr:nth-child(odd) td:nth-child(odd),
tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #aaa;
}
body {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.selected, .cyan {
  background-color: cyan !important;
}
caption {
  font-weight: bold;
  font-size: large;
}
tbody .black {
  color:black;
}
tbody .white {
  color: white;
  -webkit-text-stroke: 1px black;
}
.turn-td {
  border: 1px solid black;
}
.turn-td.black {
  color: white;
  background-color: black;
}
.turn-td.white {
  color: black;
  background-color: white;
}