table { 
  border-collapse: collapse;
}
tbody {
  user-select: none;
}
tr:not(.letters) {
  height: min(11vw, 75px);
}
td {
  border: 1px solid transparent;
  width: min(11vw, 75px);
  text-align: center;
  font-size: min(7vw, 48px);
}
th {
  padding: 4px;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: #555;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background-color: #aaa;
}
body {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.selected {
  background-color: cyan !important;
}
mark.cyan {
  background-color: cyan;
}
caption {
  font-weight: bold;
  font-size: large;
}
.black {
  color: #111;
}
.white {
  color: white;
}